@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: "Cardo", serif;
    --font-serif: "Cardo", serif;
    --font-heading: "Playfair Display", serif;

    --color-ocean-50: #eefafa;
    --color-ocean-100: #d0f0ef;
    --color-ocean-200: #a6dfdd;
    --color-ocean-300: #70c9c8;
    --color-ocean-400: #39adb1;
    --color-ocean-500: #158f98;
    --color-ocean-600: #10737d;
    --color-ocean-700: #115c66;
    --color-ocean-800: #134a54;
    --color-ocean-900: #123f48;
    --color-ocean-950: #08262d;

    --color-sand-50: #fcf8f1;
    --color-sand-100: #f6ecd9;
    --color-sand-200: #ecd7af;
    --color-sand-300: #dfbd80;
    --color-sand-400: #d09d52;
    --color-sand-500: #c28236;
    --color-sand-600: #a2632a;
    --color-sand-700: #834b27;
    --color-sand-800: #6c3f27;
    --color-sand-900: #5b3524;
    --color-sand-950: #331b11;

    --color-coast-50: #f8faf9;
    --color-coast-100: #edf2f1;
    --color-coast-200: #d7e2e0;
    --color-coast-300: #b6cbc8;
    --color-coast-400: #8cadab;
    --color-coast-500: #688f90;
    --color-coast-600: #4f7478;
    --color-coast-700: #3f5d63;
    --color-coast-800: #1f4556;
    --color-coast-900: #14324a;
    --color-coast-950: #0b2033;
}

@layer base {
    html {
        font-family: var(--font-sans), sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading), sans-serif;
    }
}
